@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&family=Shrikhand&display=swap");
.coeur {
  transition: all 2s;
  position: absolute;
  top: 10px;
  right: 10px;
}
.coeur.coeur-relative {
  position: relative;
  top: 0;
  right: inherit;
}
.coeur .my-heart-empty,
.coeur .my-heart-full {
  transition: all 1s;
}
.coeur:hover .my-heart-empty {
  opacity: 0;
}
.coeur:hover .my-heart-full {
  opacity: 1;
}

.my-heart-full {
  opacity: 0;
  background-image: -webkit-linear-gradient(#ffabc1, #356ad2);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.my-heart-empty {
  opacity: 1;
  background: black;
  background-clip: text;
  -webkit-background-clip: text;
}

.coeur {
  width: 27px;
  height: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-right: 2px;
  font-size: 1.6rem;
}
.coeur i {
  position: absolute;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: #e8e8e8;
  inset: 0;
  height: 100vh;
  z-index: 100;
  opacity: 0.95;
  animation: disappear 1s forwards;
  transform-origin: top;
}

.loading-spinner {
  display: block;
  position: relative;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 7px solid transparent;
  border-top-color: #9356dc;
  animation: spin 1s linear infinite;
}

.loading-spinner::before,
.loading-spinner::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  border: 7px solid transparent;
}

.loading-spinner::before {
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  border-top-color: #ff79da;
  animation: spin 1s linear infinite;
}

.loading-spinner::after {
  top: 25px;
  left: 25px;
  right: 25px;
  bottom: 25px;
  border-top-color: #99e2d0;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes disappear {
  from {
    transform: scale(1);
  }
  to {
    visibility: hidden;
  }
}
/*-----------------------------------------GROS TITRE-----------------------------------------*/
h1 {
  font-size: 30px;
  font-family: Shrikhand;
}

.img-header img {
  width: 100%;
  height: 423px;
  -o-object-fit: cover;
     object-fit: cover;
}

header {
  position: relative;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 65px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.16);
  background-color: white;
  top: 0;
}

.paris-belleville {
  width: 100%;
  height: 48px;
  background-color: #eaeaea;
  display: flex;
  align-items: center;
  justify-content: center;
}
.paris-belleville .icon {
  margin-right: 10px;
}
.paris-belleville p {
  font-family: roboto;
  font-size: 16px;
}
.paris-belleville .fa-location-dot {
  margin-right: 8px;
}

.bg-grey {
  padding: 2em 0;
}

.bg-grey p {
  text-align: center;
  font-family: "roboto";
  margin-top: 30px;
  color: black;
  font-size: 1.2rem;
}

.section-bloc {
  padding: 0em 15px 2rem;
  /*-----------------------------------------ICON RUBRIQUE FONCTIONNEMENT)-----------------------------------------*/
}
.section-bloc.restau-bloc > div {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 20px;
}
@media screen and (max-width: 1440px) {
  .section-bloc.restau-bloc > div {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 768px) {
  .section-bloc.restau-bloc > div {
    flex-direction: column;
  }
}
.section-bloc.first-section {
  padding: 0;
}
.section-bloc:nth-child(odd) {
  background-color: #f7f7f7;
}
.section-bloc .card {
  position: relative;
  max-width: 100%;
  width: 100%;
  height: auto;
  background-color: #ffffff;
  box-shadow: 5px 5px 5px 1px #d2d2d2;
  overflow: hidden;
  border-radius: 20px;
  font-family: "roboto";
}
@media screen and (min-width: 768px) {
  .section-bloc .card {
    max-width: calc(50% - 20px);
  }
}
@media screen and (min-width: 992px) {
  .section-bloc .card {
    max-width: calc(25% - 20px);
    font-size: 13px;
  }
}
.section-bloc .card a {
  text-decoration: none;
  color: inherit;
}
.section-bloc .card .img-plats {
  height: 200px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
}
.section-bloc .card .bloc-badge {
  position: absolute;
  top: 25px;
  right: 20px;
  width: 100px;
  height: 30px;
  background-color: #99e2d0;
  font-family: "roboto";
  color: rgb(45, 146, 91);
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-bloc .card .card-body-resto {
  position: relative;
  padding: 15px;
  margin: 0 0 15px 0;
  margin-top: 5px;
}
.section-bloc .card .card-body-resto h2 {
  margin-bottom: 10px;
}
.section-bloc .card .card-body-resto p {
  font-size: 19px;
  font-weight: lighter;
}
.section-bloc h1 {
  font-family: "roboto";
  font-size: 30px;
  text-align: center;
}
.section-bloc .icon {
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*-----------------------------------------BOUTON (EXPLORER RESTO)-----------------------------------------*/
.btn {
  width: 250px;
  font-family: "roboto";
  font-size: 15px;
  text-decoration: none;
  text-align: center;
  color: white;
  background: linear-gradient(#ff79da, #9356dc);
  border-radius: 50px 50px 50px 50px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.16);
  display: block;
  padding: 20px 20px;
  margin: 60px auto 13px auto;
}

.btn:hover {
  opacity: 0.33;
  text-decoration: none;
  box-shadow: 0 1px 5px 0 rgb(0, 0, 0);
}

/*-----------------------------------------TITRE (FONCTIONNEMENT)-----------------------------------------*/
.title-section-bloc {
  font-family: "roboto";
  margin-left: 5px;
  padding: 25px 0;
  font-size: 25px;
}

/*-----------------------------------------TICKETS (choisissez, composez, dégustez) MAUVES-----------------------------------------*/
.ticket {
  position: relative;
  background-color: #ffffff;
  border-radius: 25px 25px 25px 25px;
  font-family: "roboto";
  font-style: normal;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 30px;
  gap: 20px;
  max-width: 325px;
  width: calc(100% - 12.5px);
  margin-left: 12.5px;
  height: 70px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
}
.ticket.purple {
  background-color: #ffffff;
}
.ticket.mauve {
  background-color: #f5edff;
}
.ticket.mauve span {
  background-color: #9356dc;
}
.ticket.mauve .fa-store {
  color: #9356dc;
}
.ticket span {
  position: absolute;
  left: -12.5px;
  color: white;
  border-radius: 100%;
  background-color: #9356dc;
  height: 25px;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*-----------------------------------------FOOTER-----------------------------------------*/
footer {
  padding: 20px;
  font-family: "roboto";
  color: white;
  max-width: 100%;
  background-color: #353535;
  /*-----------------------------------------CONTACT MAIL CIBLE BALISE a DANS FOOTER-----------------------------------------*/
}
footer a {
  display: block;
  text-decoration: none;
  color: white;
}
footer a:hover {
  color: #9356dc;
}

.icon-footer {
  display: flex;
  gap: 20px;
}
.icon-footer span {
  display: flex;
  font-size: 16px;
  width: 100%;
}

.menu-footer {
  display: flex;
  gap: 20px;
  padding: 15px 0;
}
.menu-footer img {
  width: 20px;
  height: 20px;
}
.menu-footer h3 {
  font-family: Shrikhand;
}

/*-----------------------------------------PAGE MENU-----------------------------------------*/
/*-----------------------------------------FLECHE RETOUR ACCUEIL-----------------------------------------*/
.fa-arrow-left {
  position: absolute;
  left: 20px;
  top: 35%;
  font-size: 1.3rem;
}

/*-----------------------------------------À la française-----------------------------------------*/
.big-title {
  font-family: shrikhand;
  font-size: 30px;
  border-top: 100px;
}
/*-----------------------------------------ICONE COEUR-----------------------------------------*/
.icon-heart-french {
  position: absolute;
  width: 27px;
  height: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 15px;
  right: 15px;
}

.starter-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

/*-----------------------------------------BARRE VERTE-----------------------------------------*/
hr {
  width: 60px;
  border: 1.5px solid #99e2d0;
  margin-top: 5px;
}

/*-----------------------------------------TITRE ENTRÉES-----------------------------------------*/
.starter {
  padding: 15px;
  max-width: 1055px;
  width: 100%;
  margin: -50px auto 0;
  background-color: #edebeb;
  border-radius: 40px 40px 0px 0px;
  position: relative;
  /*-----------------------------------------TOUTES LES ENTRÉES-----------------------------------------*/
}
.starter .big-section {
  max-width: 650px;
  width: 100%;
  margin: 25px auto 0;
  /*-----------------------------------------TITRE "ENTRÉES"-----------------------------------------*/
  /*-----------------------------------------DIV TITRE LISTE ENTRÉES-----------------------------------------*/
}
.starter .big-section h2 {
  font-family: roboto;
  font-weight: lighter;
  font-size: 20px;
}
.starter .big-section .list-section {
  gap: 15px;
  margin-top: 25px;
  /*-----------------------------------------RESPONSIVE-----------------------------------------*/
  display: flex;
  flex-direction: column;
}
.starter .big-section .list-section .item-in-section {
  overflow: hidden;
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 100%;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.16);
  padding: 15px 0;
  position: relative;
  /*-----------------------------------------ANIMATION DES ONGLETS PLATS-----------------------------------------*/
  animation: showItem 0.6s ease both;
  /*-----------------------------------------TITRE ENTRÉES-----------------------------------------*/
  /*-----------------------------------------ACCOMPAGNEMENT ENTRÉES-----------------------------------------*/
  /*-----------------------------------------PRIX ENTRÉES-----------------------------------------*/
}
.starter .big-section .list-section .item-in-section:nth-child(1) {
  animation-delay: 0.6s;
}
.starter .big-section .list-section .item-in-section:nth-child(2) {
  animation-delay: 1s;
}
.starter .big-section .list-section .item-in-section:nth-child(3) {
  animation-delay: 1.4s;
}
@keyframes showItem {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.starter .big-section .list-section .item-in-section:hover {
  padding-right: 90px;
}
.starter .big-section .list-section .item-in-section:hover .add-item {
  width: 83px;
}
.starter .big-section .list-section .item-in-section:hover .add-item img {
  transform: rotate(360deg);
}
.starter .big-section .list-section .item-in-section:hover span {
  animation: item-in-section 0.5s ease both;
}
.starter .big-section .list-section .item-in-section div:first-child {
  /*Force la taille du premier div à prendre toute la place qu'il peu prendre */
  flex: 1;
  padding: 0 15px;
  max-width: 100%;
}
.starter .big-section .list-section .item-in-section h3 {
  font-family: roboto;
  font-size: 20px;
  margin: 0px 0px 10px 0px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.starter .big-section .list-section .item-in-section span {
  font-family: roboto;
  font-size: 17px;
  font-weight: lighter;
  display: block;
}
.starter .big-section .list-section .item-in-section p {
  justify-content: left;
  font-family: roboto;
  font-size: 18px;
  font-weight: bold;
}
.starter .big-section .list-section .item-in-section .span-p-display-flex span {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}
.starter .big-section .list-section .item-in-section .add-item {
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: #99e2d0;
  transition: 0.3s all;
  width: 0px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}
.starter .big-section .list-section .item-in-section .add-item img {
  width: 30px;
  transform: rotate(0deg);
  transition: 0.3s all;
}
@keyframes item-in-section {
  0% {
    width: 365px;
  }
  100% {
    width: 200px;
  }
}

/*-----------------------------------------ESPACE ENTRE ACCOMPAGNEMENT ET PRIX-----------------------------------------*/
.span-p-display-flex {
  display: flex;
  justify-content: space-between;
}

/*-----------------------------------------BOUTON COMMANDER-----------------------------------------*/
.btn-command a .btn {
  width: 230px;
  font-family: "roboto";
  font-size: 20px;
  text-decoration: none;
  text-align: center;
  color: white;
  background: linear-gradient(#ff79da, #9356dc);
  border-radius: 50px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.16);
  display: block;
  padding: 20px 20px;
  margin: 60px auto 100px auto;
}

/*-----------------------------------------RESPONSIVE 375PX-----------------------------------------*/
@media (max-width: 375px) {
  span {
    font-size: 15px;
  }
}
@media (min-width: 768px) {
  .container__index {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  .media-querie {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 769px) {
  .media-querie {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1441px) {
  .menu-footer {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .menu-footer h3 {
    order: 2;
  }
  .menu-footer p,
  .menu-footer div,
  .menu-footer a {
    order: 1;
  }
}
@media screen and (max-width: 1440px) {
  .menu-footer {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .menu-footer h3 {
    order: 1;
  }
  .menu-footer p,
  .menu-footer div,
  .menu-footer a {
    order: 2;
  }
}/*# sourceMappingURL=style.css.map */